/* contains all width classes similar to bootstrap's naming convention (eg. - w-100) */
@import 'widths.css';


/* global */
html {
    position: relative;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    background-color: rgb(175, 225, 255);
}

label {
    font-weight: bold;
    font-size: 16px;
}

.btn {
    font-weight: bold;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* top bar */
.top-bar {
    width: 100%;
    height: 10%;
    background-color: rgb(200, 200, 200);
    border-bottom: 1px solid rgb(100, 100, 100);
}

/* main */
#main {
    min-height: 75vh;
}

/* profile */
#profile-description {
    resize: none;
}

#upload-profile-pic {
    bottom: 15px;
    right: 40px;
}

.form-group input[type='checkbox'], .form-inline input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

#post-description {
    resize: none;
    width: 100%;
}

#profile-pic-div {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.documents img {
    height: 50px;
}

#credentials .card-body {
    overflow-y: scroll;
}

/* posting-details */
.applicant-comment, .applicant-comment label {
    font-size: 14px;
}

/* faq */
.scroll-div {
    overflow-y: scroll;
    height: 75vh;
}

/* footer */
#footer {
    height: 50px;
    position: relative;
}