extends ../layout

append scripts
    script(src='/scripts/admin-panel.js')
    link(rel='stylesheet', href='/style/admin-panel.css')

block content
    .row.d-flex.justify-content-center
        #alert_box.alert-box.alert.alert-warning.alert-dismissible.fade.show(role='alert')
            button#alert_close_btn.close(type='button', aria-label='Close')
                span(aria-hidden='true') ×
            span#alert_text


    .row
        #side-bar
            button.btn.btn-warning#side-menu-icon.side-menu-icon
                span#menu-icon-text &#8801;
            #side-menu.side-menu
                ul.sidebar-nav
                    a#manage_user_btn(href="#") Manage Users
                    a#manage_post_btn(href="#") Manage Posts
                    a#manage_statistic_btn(href="#") Statistic

        //- ------ Manage Users ------
        #manage-user.content.container
            .row
                //- search user
                .input-group.col-5
                    .input-group-prepend
                        span.input-group-text User
                    input#input_box.form-control(placeholder="Enter ID,email or username")
                    .input-group-append
                        button#search_btn.btn.btn-primary search

                //- action button
                .dropdown
                    button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
                        | Action
                        span.caret
                    ul.dropdown-menu
                        a#verify_btn.dropdown-item(href="#") Verify
                        a#screen_btn.dropdown-item(href="#") Screen
                        a#promote_btn.dropdown-item(href="#") Promote Admin
                        a#delete_btn.dropdown-item(href="#") Delete
            
            //- found user table
            table#user_table.table.table-light.table-hover.mt-2
                thead.thead-dark
                    tr
                        th(scope='col') #
                        th(scope='col') Username
                        th(scope='col') Email
                        th(scope='col') First Name
                        th(scope='col') Last Name
                        th(scope='col') Role
                        th(scope='col') Verified
                        th(scope='col') Screened
                        th(scope='col') 
                tbody#table_body.table-body
        
        //- ------ Manage Posts ------
        #manage-post.content.container
            .row
                //- search post
                .input-group.col-5
                    .input-group-prepend
                        span.input-group-text Post
                    input#post_input_box.form-control(placeholder="Enter ID or title")
                    .input-group-append
                        button#search_post_btn.btn.btn-primary search

                //- action buttons
                .dropdown
                    button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
                        | Action
                        span.caret
                    ul.dropdown-menu
                        label.ml-3 Set Post
                        a#open_post_btn.dropdown-item(href="#") Open
                        a#fulfill_post_btn.dropdown-item(href="#") Fulfill
                        a#inprogress_post_btn.dropdown-item(href="#") In progress
                        a#complete_post_btn.dropdown-item(href="#") Complete
                        label.ml-3 Manage Post
                        a#modify_post_btn.dropdown-item(href="#") Modify
                        a#delete_post_btn.dropdown-item(href="#") Delete
            
            //- found post table
            table#co_post_table.table.table-light.table-hover.mt-2
                thead
                    tr.custom-tr
                        th.thead-default(scope='col' colspan="7") Coordinator Posts
                thead.thead-dark
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') School
                        th(scope='col') Progress
                        th(scope='col') Date
                        th(scope='col') Course #
                        th(scope='col') 
                tbody#co_post_table_body.table-body

            table#ti_post_table.table.table-light.table-hover.mt-2
                thead
                    tr.custom-tr
                        th.thead-default(scope='col' colspan="7") Interpreter Posts
                thead.thead-dark
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Username
                        th(scope='col') First Name
                        th(scope='col') Last Name
                        th(scope='col') Date
                        th(scope='col') 
                tbody#ti_post_table_body.table-body

                #edit-post-panel
        #manage-statistic.content.container
            .card-deck
                .card.border-primary.mb-3(style='max-width: 18rem;')
                    .card-header.text-center.bg-primary
                        h5 Posts
                        label#close_card &times;
                    a#card-info.card-body.text-center(href="#")
                        //- h5.card-title.text-center  Requests
                        p.card-text
                            | Coordinator Posts: 100
                        p.card-text
                            | Interpreter Posts: 123
                    .card-detail
                        .detail-box
                            image.card-detail(src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP")
            
                .card.border-primary.mb-3(style='max-width: 18rem;')
                    .card-header.text-center.bg-primary
                        h5 Post Quality
                        label#close_card &times;
                    a#card-info.card-body.text-center(href="#")
                        //- h5.card-title.text-center  Requests
                        p.card-text
                            | Complete: 22
                        p.card-text
                            | In progess: 10
                    .card-detail
                        .detail-box
                            image.card-detail(src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP")

                .card.border-primary.mb-3(style='max-width: 18rem;')
                    .card-header.text-center.bg-primary
                        h5 User Pool
                        label#close_card &times;
                    a#card-info.card-body.text-center(href="#")
                        //- h5.card-title.text-center  Requests
                        p.card-text
                            | Coordinators: 27
                        p.card-text
                            | Interpreters: 80
                    .card-detail
                        .detail-box
                            image.card-detail(src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP")
                
                
                


