extends ../layout

append scripts
    script(src='/scripts/compose.js')

block content
    h3 Message
    form.send-message(action='/send-message', method='post')
        input(type='hidden', name='sender', value=user.username)
        .card
            .card-header
                div
                    label(for='recipient') To:
                    input.form-control(type='text', name='recipient')
                div
                    label(for='subject') Subject:
                    input.form-control(type='text', name='subject')
            .card-body
                label(for='message') Message:
                textarea.form-control.w-100#message(name='message', rows='10')
            .card-footer.text-right
                input.btn.btn-primary.mr-1(type='submit', value='Send')
                input.btn.btn-secondary(type='reset', value='Clear')
