extends ../layout

append scripts
    script(src='/scripts/postings.js')

block content
    h3 Postings
    .card
        .card-body.bg-light
            .d-flex.justify-content-between.mb-2
                .w-20
                    strong Looking For
                .w-50
                    strong Title
                .w-15
                    strong Posted on
                .w-15
                    strong Employer
            .d-flex.justify-content-between.mb-2
                .w-20
                    span.badge.badge-success Certified
                .w-50
                    a(href='/posting-details') [#10301] Need Interpreter at UVIC
                .w-15 01/29/2017
                .w-15
                    a(href='/profile') Coordinator
            .d-flex.justify-content-between.mb-2
                .w-20
                    span.badge.badge-secondary Any
                .w-50
                    a(href='#') [#10304] Need Interpreter at SFU
                .w-15 01/29/2017
                .w-15
                    a(href='/profile') Coordinator
            .d-flex.justify-content-between.mb-2
                .w-20
                    span.badge.badge-success.mr-1 Certified
                    span.badge.badge-success Verified
                .w-50
                    a(href='#') [#10304] Need Interpreter at SFU
                .w-15 01/29/2017
                .w-15
                    a(href='/profile') Coordinator