extends ../layout

append scripts
    script(src='/scripts/create-post.js')

block content
    h3 Create Posting
    form.new-post.form-control.bg-light(action='/new_post', method='post')
        .form-group
            label(for='title') Title:
            input.form-control(type='text', name='title')
        .form-group
            .d-flex.justify-content-between
                .w-24
                    label(for='when') When:
                    input.form-control(type='date', name='when')
                .w-24
                    label(for='school') Where:
                    select.form-control(name='school')
                        option(value='uvic') University of Victoria
                        option(value='sfu') Simon Fraser University
                .w-24
                    label(for='course-number') Course Number:
                    input.form-control(type='text', name='course_number')
                .w-24
                    label(for='duration') Time: 
                        span.badge.badge-info(data-toggle='tooltip', data-placement='top', title='eg. - 3:00 PM - 4:30 PM') ?
                    input.form-control(type='text', name='duration')
        hr
        .form-group
            label(for='post-description') Details:
            textarea#post-description.form-control(name='post-description', rows='10', placeholder='Enter details such as specific skills or any other requirements')
        hr
        .form-group
            label(for='type') Type of Request:
            select.form-control(name='type')
                option(value='in_person') In Person
                option(value='online') Online (Video Chat)
                option(value='phone') Over the Phone
                option(value='other') Other (Please specify in the details)
        hr
        .form-inline.mb-1
            .form-inline.mr-5
                input.form-control.mr-1(type='checkbox', name='looking_for_interpreter')
                label(for='looking-for-interpreter') I'm looking for interpreter(s)
            .form-inline
                label.mr-1(for='how-many-interpreter') How many?
                input.form-control(type='number', name='how_many_int')
        .form-inline.mb-1
            .form-inline.mr-5
                input.form-control.mr-1(type='checkbox', name='looking_for_transcriber')
                label(for='looking-for-interpreter') I'm looking for transcriber(s)
            .form-inline
                label.mr-1(for='how-many-transcriber') How many?
                input.form-control(type='number', name='how_many_int')
        hr
        .form-inline.mb-1
            input.form-control.mr-1(type='checkbox', name='is_cert')
            label(for='is-cert') I prefer someone who is screened
            span.badge.badge-info.ml-1(data-toggle='tooltip', data-placement='top', title='A screened user has passed the PCAS test') ?
        .form-inline.mb-1
            input.form-control.mr-1(type='checkbox', name='is_verified')
            label(for='is-verified') I prefer someone who is verified
        small
            i If none is selected, your preference will be "any"
        hr
        .form-inline.mb-1
            input.form-control.mr-1(type='checkbox', name='allow-email')
            label(for='allow-email') Hide email
        .form-inline.mb-1
            input.form-control.mr-1(type='checkbox', name='allow-phone')
            label(for='allow-email') Hide phone number
        small
            i If both contact method are hidden, only you can contact the applicants
        .form-group.d-flex.justify-content-end
            button.btn.btn-primary.mr-1(type='submit') Create
            button.btn.btn-secondary(type='reset') Clear
