extends ../layout

append scripts
    script(src='/scripts/login.js')

block content
    .card.w-25.mx-auto
        .card-body
            if message
                .alert.alert-danger #{message}
            form(action='/forgetPass', method='post')
                .form-group
                    label(for='email') Please Enter Your Email:
                    input.form-control(type='text', name='email')
                
                .form-group.d-flex.justify-content-end
                    input.btn.btn-primary.mr-1(type='submit',value='Submit')
                    