extends ../layout

append scripts
    script(src='/scripts/my-posts.js')

block content
    h3 My Posts
    .card
        .card-body.bg-light
            form.my-post(action='/delete-post', method='post')
                .d-flex.justify-content-between.align-items-center.mb-2
                    .w-65
                        a(href='/posting-details') [#10301] Need Interpreter at UVIC (Coordinator View)
                    .w-25.text-right
                        strong Posted on January 29, 2017
                    .w-15.text-right
                        button.btn.btn-sm.btn-info.mr-1(type='button') Edit
                        button.btn.btn-sm.btn-danger(type='submit') Delete
            form.my-post(action='/delete-post', method='post')
                .d-flex.justify-content-between.align-items-center.mb-2
                    .w-65
                        a(href='/posting') [#10304] Need Interpreter at SFU
                    .w-25.text-right
                        strong Posted on January 29, 2017
                    .w-15.text-right
                        button.btn.btn-sm.btn-info.mr-1(type='button') Edit
                        button.btn.btn-sm.btn-danger(type='submit') Delete