extends ../layout

append scripts
    script(src='/scripts/login.js')

block content
    .card.w-50.mx-auto(style="background-color:#afe1ff")
        h3(style ="padding:10vw") A email has been sent to you, please check inbox.
