extends ../layout

block content
    script.
        setTimeout(function() { location.href = '/postings' }, 3000);
    .card.w-50.mx-auto
        .card-body.text-center
            h3 #{message}
            br
            small Redirecting in 3 sec or click 
                a(href='/postings') here
                | .