extends ../layout

append scripts
    script(src='/scripts/register.js')

block content
    .card.w-75.mx-auto
        .card-body
            form#register_from.d-flex.justify-content-between.flex-wrap(action='/register', method='post')
                .form-group.w-49
                    label(for='username') Username:
                    input.form-control(type='text', name='username',required)
                    #username 
                .form-group.w-49
                    label(for='who-are-you') Who Are You:
                    select.form-control(name='who-are-you',required)
                        option
                        option(value='coordinator') Coordinator
                        option(value='ti') Interpreter/Transcriber
                .form-group.w-49
                    label(for='first-name') First Name:
                    input.form-control(type='text', name='first_name',required)
                .form-group.w-49
                    label(for='last-name') Last Name:
                    input.form-control(type='text', name='last_name',required)
                .form-group.w-49
                    label(for='email') Email:
                    input.form-control(type='email', name='email',required)
                    #email
                .form-group.w-49
                    label(for='confirm-email') Confirm Email:
                    input.form-control(type='email', name='confirm_email',required)
                .form-group.w-49
                    label(for='password') Password:
                    input.form-control(type='password', name='password',required)
                .form-group.w-49
                    label(for='confirm-password') Confirm Password:
                    input.form-control(type='password', name='confirm_password',required)
                .form-group.w-33
                    label(for='School') School:
                    select#schools.form-control(name='school',required)
                        option
                .form-group.w-33
                    label(for='phone') Primary Phone #:
                    input.form-control(type='text', name='phone')
                .form-group.w-33
                    label(for='other-phone') Alt Phone #:
                    input.form-control(type='text', name='other_phone')
                .form-group.w-100
                    label(for='description') Description:
                    textarea.form-control.w-100(name='description', rows='10', placeholder='Education, work experience, skills, etc.')
                .text-right.w-100
                    input#Submit.btn.btn-primary.mr-1(type='submit', value='Register')
                    input.btn.btn-secondary(type='reset', value='Clear')