extends ../layout

block content
    .card
        .card-body
            h3 PCAS Jobs Line Terms of Service
            b Last modified: April 3, 2018
            hr
            .mb-3
                h4 Definitions
                | "Our" means Post-Secondary Communications Access Services.
                br
                | "User" is a person with a registered account on the website.
            .mb-3
                h4 Using Our Services
                | When using our services provided by this website, you agree to not submit job postings that are irrelevant to the services provided by PCAS. This includes but are not limited to advertisement of your product, website, or services not related to interpreting and/or transcribing for the blind and/or deaf. If misuse of our services is found, your account will be suspended without notice.
            .mb-3
                h4 Liability
                | PCAS is not liable for your personal information that you choose to display on the website. This includes your full name, phone number, email, and any other description that you have provided upon registration.
            .mb-3
                h4 Privacy and Protection
                | Every information that you choose to display on the website and in your profile, is solely your responsibility to protect. PCAS cannot guarantee that every users are trusted and that they will not use your personal information for other purposes.
                p When an agreement has been established between you and the other user(s) regarding a job, it is solely you and the other user(s) responsibility to schedule a meeting in person to complete the job. PCAS are not obligated to schedule a meeting and/or interview for you. PCAS are also not liable for any issues you and the other user(s) may have. It is your responsibility to proceed with the job with all caution.
            small PCAS reserves the right to modify these terms at any time and further notice will be provided.