extends ../layout

append scripts
    script(src='/scripts/verify.js')

block content
    .card.w-25.mx-auto
        .card-body
            if message
                .alert.alert-danger #{message}
                if verify
                    a#newEmail.btn.btn-primary.btn-sm.active(href='/verify') #{newEmail}
            form(action='/verify', method='post')
                .form-group
                    label(for='tocken') Your token:
                    input.form-control(type='text', name='tocken')
                .form-group.d-flex.justify-content-end
                    input.btn.btn-primary.mr-1(type='submit', value='Submit')