extends ../layout

append scripts
    script(src='/scripts/verify.js')

block content
    .card.w-50.mx-auto
        .card-body
            if message
                .alert.alert-danger #{message}
            if message2 
                .alert.alert-success #{message2}