extends ../layout

append scripts
    script(src='/scripts/message')

block content
    h3 Message
    form(action='/reply?id=101', method='post')
        .card
            .card-header
                div
                    label(for='recipient') To:
                    input.form-control(type='text', name='recipient')
                div
                    label(for='subject') Subject:
                    input.form-control(type='text', name='subject')
            .card-body
                label(for='message') Message:
                textarea.form-control.w-100(name='message', rows='10')
            .card-footer.text-right
                input.btn.btn-primary.mr-1(type='submit', value='Send')
                input.btn.btn-secondary(type='reset', value='Clear')
