.dropdown
	button#dropdownMenuButton.navbar-toggler.dropdown-toggler(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
		span.navbar-toggler-icon
	.dropdown-menu(aria-labelledby='dropdownMenuButton')
		a.dropdown-item(href='/postings') View Postings
		if user.role !== 'admin'
			a.dropdown-item(href='/create-post') Create Post
			a.dropdown-item(href='/my-posts') My Posts
			if user.role === 'ti'
				a.dropdown-item(href='/my-applications') My Applications
			a.dropdown-item(href='/profile?user_id=' + user.user_id) My Profile
		else
			a.dropdown-item(href='/admin-panel') Admin
		//--a.dropdown-item(href='/messages') Messages
		a.dropdown-item(href='/logout') Logout
