#footer.d-flex.justify-content-center.align-items-center.bg-light.mt-5.w-100
    .d-flex.justify-content-between.w-25
        small
            a(href='/about') About
        small
            a(href='/faq') FAQ
        small
            a(href='/terms') Terms of Service
        small
            a(href='/contact') Contact