block scripts
    title Post-Secondary Communications Access Services Jobs Line
    
    script(src='/scripts/jquery-3.3.1.min.js')
    script(src='/scripts/bootstrap.bundle.min.js')
    script(src='/scripts/functions.js')
    script(src='/scripts/main.js')
    script(src='/scripts/alertify.js')
    link(rel='stylesheet', href='/style/bootstrap.min.css')
    link(rel='stylesheet', href='/style/styles.css')
    link(rel='stylesheet', href='/style/font-awesome.min.css')
    link(rel='stylesheet', href='/style/alertify.css')
    if user
        script.
            var username = !{JSON.stringify(user.username)}
        script(src='/scripts/user-panel.js')