nav.navbar.navbar-light.bg-light.mb-3
    if user
        include dropdown
    .mx-auto.d-flex.align-items-center
        img.w-10(src='/image/bcit.svg')
        h3 Post-Secondary Communications Access Services
    if user
        .w-15.text-right Logged in as #{user.username}