nav.navbar.navbar-light.bg-light.mb-3
    if user
        include dropdown
    .mx-auto.d-flex.align-items-center
        a.w-10(href='/')
            img.w-100(src='/image/bcit.svg')
        h3 Post-Secondary Communications Access Services
    if user
        .d-flex.justify-content-end.w-15
            #profile-pic-div-mini.mr-2(style='background: url("' + user.avatar_url + '") no-repeat; background-size: cover')
            div
                div
                    a(href='/profile?user_id=' + user.user_id) #{user.username}
                a(href='/inbox')
                    button.btn.btn-sm.btn-primary#message-notification(type='button') Messages