nav.navbar.navbar-light.bg-light.mb-3
    if user
        include dropdown
    .mx-auto
        h3
            img.w-10(src='/image/bcit.svg')
            | Post-Secondary Communications Access Services
    //-- .d-flex.w-20.align-items-center.border.p-2.rounded
        img.rounded-circle.w-25.h-25.mr-1(src='/files/' + user.avatar_url)
        div
            div
                a(href='/profile') #{user.username}
            div
                button.btn.btn-info.btn-sm#notification(type='button')
                    i.fa.fa-bell-o.mr-1(aria-hidden='true')
                    .badge.badge-light 10
