nav.navbar.navbar-light.bg-light.mb-3
    if user
        include dropdown
    .mx-auto
        h3
            img.w-10(src='/image/bcit.svg')
            | Post-Secondary Communications Access Services